<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
     <link rel="stylesheet" href="{{url_for('static', filename='style2.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav>
        <label class="logo">Hunter</label>
        <ul>
            <li><a href="{{url_for('home_page')}}">HOME</a></li>
            <li><a href="{{url_for('about_page')}}">ABOUT</a></li>
            <li><a href="{{url_for('service_page')}}">SERVICE</a></li>
            <li><a href="{{url_for('contact_page')}}">CONTACT</a></li>
            <li><a href="{{url_for('register_page')}}">REGISTER</a></li>
        </ul>
    </nav>
    <div class="content">
        <h1>ABOUT US!                   ABOUT SYSTEM</h1>
        <p class="par">Welcome to our credit card fraud detection system, designed to help financial institutions and cardholders protect <br>against  fraudulent activities.Our system utilizes advanced algorithms and machine learning techniques to identify <br>and prevent fraudulent transactions.

At the heart of our system is a powerful fraud detection engine that analyzes transactions,<br> looking for patterns and anomalies that may indicate fraudulent activity. Our system is capable of analyzing large volumes of data, <br>making it an effective tool for detecting even the most sophisticated fraud schemes.

We are committed to providing our clients with<br> the highest level of security and protection. Our system is continuously updated with the latest fraud detection techniques and is designed<br> to adapt to new threats as they emerge. We also provide our clients with alerts and notifications, allowing them to take immediate action when <br>fraudulent activity is detected.

At our core, we are a team of dedicated professionals who are passionate about protecting our clients from <br>financial fraud. We take pride in our work and are committed to providing our clients with the best possible service and support.</p>

    </div>

</body>
</html>